@import '../../_variables.css';


.title {
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
   margin-right: 1rem;
}

.add_todo {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.input {
    width: 50vw;
    max-width: 450px;
    min-width: 250px;
    height: 2rem;
    border: none;
    border-radius: 5px;
    padding: .6rem;
    font-size: 1rem;
}

.input:active, input:hover, input:focus {
    border: 1px solid var(--main-dark);
}

.add_btn {
    margin-left: .5rem;
    font-size: 1.3rem;
    border-radius: 50%;
    padding: 0.5rem .5rem .3rem;
    border: var(--main-dark) 2px solid;
    background-color: var(--background-light);
    transform: scale(1);
    transition: .2s;
}

.add_btn:hover {
    background-color: var(--background-dark);
}

.add_btn:active {
    transform: scale(.8);
}